__pycache__
data/complete_data
logs*
out
.vscode
finalData
output
.venv
monolingual_embeddings.json
trials.py
llama
processedData
crossencoder/
models
# monolingual*/
# crosslingual*/
official/contrastive/snowflake_mv2/models

!**/*_predictions.json

data/test_data/
!data/test_data/README.md
